<%= link_to 'Current Reservations', root_path %>

<h1>Book a Reservation Right Now!</h1>

<%= form_for [@restaurant, @reservation] do |f| %>  <!--these instances are our arguments for the form -->

  <p>
    <%= f.label :time %>
    <%= f.number_field :time %>
  </p>

  <p>
    <%= f.label :guests %>
    <%= f.number_field :guests %>
  </p>

  <p><%= f.submit %></p>

<% end %>
