<%= link_to 'Back to Restaurants', root_path %>

<% if @restaurant.errors.any? %>

<h2>Warning: <%= pluralize(@restaurant.errors.count, "error") %> </h2>

<ul>
  <% @restaurant.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

<% end %>

<h1>Add a new restaurant</h1>

<%= form_for @restaurant do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :address %>
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :neighborhood %>
  <%= f.text_field :neighborhood %>
</p>

<p>
  <%= f.label :price_range %>
  <%= f.text_field :price_range %>
</p>

<p>
  <%= f.label :menu %>
  <%= f.text_area :menu %>
</p>

<p>
  <%= f.label :open %>
  <%= f.number_field :open %>
</p>

<p>
  <%= f.label :close %>
  <%= f.number_field :close %>
</p>

<p><%= f.submit %></p>

<% end %>
