<p><%= link_to 'Back to Restaurants', restaurants_url %></p>
<h1><%= @restaurant.name %></h1>


  <p>Address: <%= @restaurant.address %></p>
  <p>Neighborhood: <%= @restaurant.neighborhood %></p>
  <p>Price Range: <%= @restaurant.price_range %></p>
  <p>Menu: <%= @restaurant.menu %></p>
  <p>Time Slot: <%= @restaurant.time_slot %></p>


  <h4><%= link_to 'Book a Reservation Now!', new_reservation_path %></h4>
